.filter {
  margin: 0 26px;

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    max-width: 600px;
    padding-left: 20px;

    input {
      padding: 13px;
      width: 100%;
    }
  }

  p {
    padding-bottom: 5px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 45px;
    font-weight: bold;

    span {
      margin-left: 5px;
    }
  }
}