.currentNews {
  &__img {
    width: 100%;
    height: 245px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__article {
    border: 1px solid #EAEAEA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    z-index: 10;
    bottom: 60px;
    padding: 35px 75px 50px;

    h1 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 50px;
    }

  }
}