@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

.App {
  color: #363636;
  font-family: 'Montserrat', sans-serif;
}

.searchedWords {
  background-color: #FFF96E;
}